<?php

$databases['default']['default'] = [
  'database' => '{{ db_name }}',
  'username' => '{{ db_user }}',
  'password' => '{{ db_password }}',
  'prefix' => '',
  'host' => '{{ db_host }}',
  'port' => '3306',
  'driver' => 'mysql',
  'namespace' => 'Drupal\\mysql\\Driver\\Database\\mysql',
  'autoload' => 'core/modules/mysql/src/Driver/Database/mysql/',
];

$settings['trusted_host_patterns'] = [
  '^{{ app_gateway_ip | replace(".", "\\.") }}$',
  '^20\\.48\\.249\\.102$',
  '^20\\.63\\.34\\.255$',
  '^10\\.0\\.1\\.4$',
  '^10\\.0\\.2\\.4$',
  '^127\\.0\\.0\\.1$',
  '^localhost$',
];

$settings['hash_salt'] = '{{ drupal_hash_salt }}';
$settings['config_sync_directory'] = '../config/sync';