[defaults]
inventory = inventory/hosts.ini
remote_user = drupaladmin
private_key_file = ~/.ssh/drupal_key
host_key_checking = False
stdout_callback = default
deprecation_warnings = False
roles_path = ../ansible/roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root